footer{
    height: 20vh;
    color: $color-1;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 82%, rgba(0,212,255,0) 100%);
}

.flex-footer{
    display: flex;
    height: 20vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}