
.main-logo{
    width: 15vh;
}

.flex-father{
    display: flex;
    list-style: none;
    font-size: 25px;
    justify-content: flex-start;
    align-items: center;
    height: 18vh;
    padding: 0px 0px 0px 32px;
}

.menu-noImage{
    margin: 25px;
} 
.menu-image{
    margin: 0px 25px 0px 25px;
}
