
.flex-faq_title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.flex-faq{
    display: flex;
    height: 85vh;
    display: list-item;
}

.flex-faq li{
    list-style: inside;
    font-size: 25px;
    padding: 20px;
    margin: 20px;
}

.faq-answers{
    font-size: 20px;
    padding-top: 2rem;
}
.faq-fake_important{
    font-size: 20px;
    text-decoration: underline;
}

.faq-main{
    height: 180vh;
}