.index-main{
    height: 180vh;
}

.flex-main_logo{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}
.flex-main_text{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 25px;
    font-family: $typo-sec;
}

.index-carousel{
    margin: 15vh;
}