.flex-main_logo{
    display: flex;
    padding-top: 200px;
    justify-content: center;
}
.flex-main_text{
    display: flex;
    justify-content: center;
    padding-top: 410px;
    font-size: 25px;
}