.flex-gallery{
    display: flex;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
    justify-content: center;
}

.gallery-carousel{
    margin: 15vh;
}